.TopButtons_itemContainer__oAEhD {
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.TopButtons_itemContainer__oAEhD:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.TopButtons_buttonBox__qw4Ux {
  background-color: #15202c;
}
.TopButtons_icon__H3LeY {
  transition: 0.1ms linear;
}
.TopButtons_itemContainer__oAEhD:hover .TopButtons_icon__H3LeY {
  filter: drop-shadow(0 0 7px #ffffff);
}
