.ProfileBanner_avatar__dfO1q {
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}
.FilmDialog_container__q2p7s {
  z-index: 10;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.FilmDialog_infoBlock__EL_59 {
  padding: 0 5%;
  z-index: 10;
}
.FilmDialog_brightnessBlock__WyOCu {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  min-height: 850px;
}
.FilmDialog_active__R00v0 {
  background-color: #f1b722;
}
.FilmDialog_icon__BEPe3 {
  width: 70px;
}
.FilmDialog_countriesBlock__VdUgZ {
  display: flex;
  align-items: center;
}
.FilmDialog_marginClass__Z6nyi {
  margin-top: 20px;
}
.FilmDialog_backgroundImage__lGpg_ {
  background-position: 50% 50%;
  background-size: cover;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  min-height: auto;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (min-width: 576px) {
  .FilmDialog_container__q2p7s {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .FilmDialog_container__q2p7s {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .FilmDialog_container__q2p7s {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .FilmDialog_container__q2p7s {
    max-width: 1140px;
  }
  .FilmDialog_backgroundImage__lGpg_ {
    min-height: 100vh;
  }
}
@media (max-width: 767px) {
  .FilmDialog_icon__BEPe3 {
    width: 30px;
  }
}
.ArrowsButton_svg___S1AV {
  width: 100px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
  fill: #fff;
}
.ArrowsButton_path__2xQSe,
.ArrowsButton_polygon__Dzmvx {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
.ArrowsButton_svg___S1AV:hover .ArrowsButton_path__2xQSe,
.ArrowsButton_svg___S1AV:hover .ArrowsButton_polygon__Dzmvx {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #fff;
}
.ArrowsButton_svg___S1AV:hover .ArrowsButton_arrow__LHDNO {
  animation: ArrowsButton_arrow-anim__q1wCb 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.ArrowsButton_svg___S1AV:hover .ArrowsButton_arrowFixed__QbHvX {
  animation: ArrowsButton_arrow-fixed-anim__6Kj8q 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
@keyframes ArrowsButton_arrow-anim__q1wCb {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  to {
    transform: translateX(1rem);
    opacity: 0;
  }
}
@keyframes ArrowsButton_arrow-fixed-anim__6Kj8q {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.ActorSlider_actorSlide__GUMn3 {
  margin: 0 10px;
}
.ActorPoster_container__q0ohy {
  position: relative;
  width: max-content;
  display: block;
}
.ActorPoster_image__JAz2k {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 20%;
  display: block;
  margin: auto;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.ActorPoster_image__JAz2k:hover {
  scale: 1.1;
}
.ActorPoster_empty__7XhBT {
  background-color: #1c455d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ActorPoster_emptyText___Xdtc {
  padding: 0 !important;
}
.ActorPoster_title__NxrXW {
  font-size: 15px;
  max-width: max-content;
  color: #fff;
  padding-top: 10px;
  text-align: center;
  max-width: 120px;
}
.ActorPoster_likeContainer__I_rtl {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.page_buttonBox__4_JUc {
  text-align: center;
}
.YouTubePlayer_playerContainer__wUw9R {
  width: 100%;
}
.MovieHostings_countriesBlock__20NR3 {
  display: flex;
  align-items: center;
}
.MovieHostings_marginClass__Trnmf {
  margin-top: 20px;
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  overflow: hidden;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-mask,
.simplebar-offset {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  -webkit-overflow-scrolling: touch;
}
.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
.simplebar-content:after,
.simplebar-content:before {
  content: ' ';
  display: table;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  z-index: -1;
}
.simplebar-height-auto-observer,
.simplebar-track {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}
.simplebar-track {
  z-index: 1;
  right: 0;
  bottom: 0;
}
[data-simplebar].simplebar-dragging,
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}
.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #000;
  border-radius: 7px;
  opacity: 0;
  transition: opacity 0.2s linear 0.5s;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition-delay: 0s;
  transition-duration: 0s;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}
.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}
.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 1200px) {
  .Sidebar_sidebar__IyUTG {
    display: block;
  }
  .Sidebar_drawer__YWxVQ {
    display: none;
  }
}
@media (max-width: 1199px) {
  .Sidebar_sidebar__IyUTG {
    display: none;
  }
  .Sidebar_drawer__YWxVQ {
    display: block;
  }
}
.NavItem_icon__UAp7m {
  margin-top: 4px;
  margin-bottom: 4px;
}
.NavItem_link__AsyHn,
.NavItem_listItems__RFjDc {
  color: var(--themePalleteTextSecondary);
}
.NavItem_listItems__RFjDc {
  white-space: nowrap;
  margin-bottom: 2px !important;
  padding: 8px 10px !important;
  border-radius: 4px;
  background-color: inherit;
  padding-left: 10px;
  border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.NavItem_listItems__RFjDc.NavItem_selected__iRo1B {
  background-color: #1c2c3b !important;
  color: #fff;
}
.NavItem_listItems__RFjDc.NavItem_selected__iRo1B:hover {
  background-color: #1c2c3b;
}
.NavItem_listItems__RFjDc.NavItem_hidenMenu__4Bm_R {
  padding-left: 10px;
}
.NavItem_listItems__RFjDc:hover {
  background-color: var(--themePrimaryLight);
  color: #fff;
}
.NavItem_listItems__RFjDc.NavItem_active__dKITF {
  color: var(--themePrimaryTextPrimary) !important;
}
@media (min-width: 1200px) {
  .NavItem_hide__hBnmQ {
    display: none;
  }
}
.Profile_container__6MOa9 {
  margin: 24px;
  gap: 16px;
  padding: 16px;
  background-color: var(--themeSecondaryLight);
}
.Profile_hide__Y_Jpu {
  display: none !important;
}
@media (min-width: 1200px) {
  .Profile_hide__Y_Jpu {
    display: none !important;
  }
  .Profile_container__6MOa9.Profile_isCollapse__v3PT7 {
    padding: 12px 0;
  }
}
:root {
  --hide: none;
  --sidebarWidth: 270px;
  --miniSidebarWidth: 87px;
  --topbarHeight: 70px;
  --lgUp: @media (min-width: 1200px);
  --xlUp: @media (min-width: 1536px);
  --lgDown: @media (max-width: 1199px);
  --xlDown: @media (max-width: 1535px);
  --mdUp: @media (min-width: 992px);
  --mdDown: @media (max-width: 991px);
  --smUp: @media (min-width: 768px);
  --smDown: @media (max-width: 767px);
  --xsUp: @media (min-width: 576px);
  --xsDown: @media (max-width: 575px);
  --themePalleteTextdisabled: hsla(0, 0%, 100%, 0.5);
  --themePalleteTextIcon: hsla(0, 0%, 100%, 0.5);
  --themePalleteTextPrimary: #eaeff4;
  --themePalleteTextSecondary: #7c8fac;
  --themeSecondaryLight: #1c2c3b;
  --themePrimaryLight: #101e29;
  --themePrimaryDark: #1c2c3b;
}
.page_shadowBlock__LcBlF {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 40%;
  z-index: 5;
  position: absolute;
  background-image: linear-gradient(-180deg, rgba(31, 33, 37, 0), rgba(31, 33, 37, 0.8) 69%);
}
.page_titleBlock__xnhRa {
  position: absolute;
  bottom: 0;
  left: 2%;
  right: 2%;
  z-index: 10;
}
.page_contentContainer__uvUYP {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.page_description__Qs8Wp {
  font-size: 15px;
  line-height: 1.7;
  margin-top: 5px;
  width: 60%;
  color: var(--base-dark-theme-text-secondary);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
  .page_description__Qs8Wp {
    width: 100%;
  }
}
.CollectionPoster_container__6JfA0 {
  display: block;
  width: 100%;
  color: #fff;
  transform: translate(0);
  transition: all 0.3s ease-in-out;
}
.CollectionPoster_container__6JfA0:hover {
  transform: scale(0.95);
}
.CollectionPoster_likeContainer__fUL7v {
  z-index: 10;
}
.CollectionPoster_img__qYeaO {
  width: 100%;
  height: 100%;
  background: #0c2738;
}
.CollectionPoster_emptyContainer__NODIG {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CollectionPoster_cardItem__jx6qp {
  overflow: hidden;
  height: 220px;
  border-radius: 15px !important;
  position: relative;
  background: rgba(86, 92, 103, 0.2);
}
.CollectionPoster_cardItemShape__mSBE2 {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(-180deg, rgba(31, 33, 37, 0), rgba(31, 33, 37, 0.8) 80%);
  width: 100%;
  height: 50%;
}
.CollectionPoster_cardText__sS1qM {
  padding: 0 16px;
  position: absolute;
  bottom: 20px;
  z-index: 10;
  width: 16em;
}
.page_container__yF_z9 {
  z-index: 10;
  max-width: 1200px;
  padding: 10px;
}
.page_countriesBlock__sxElh {
  display: flex;
  align-items: center;
}
.page_marginClass__gHVeH {
  margin-top: 20px;
}
.page_similarText__c9c0L {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
.page_filmImage__kpi6t {
  width: 100%;
}
.JaspertSearch_input__z7kyV {
  background-color: #101e29;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.JaspertSearch_input__z7kyV input {
  padding: 9px 15px;
}
.JaspertSearch_input__z7kyV:after,
.JaspertSearch_input__z7kyV:before {
  border-bottom: none;
}
.Search_hero__G62kg {
  width: 100%;
  height: 200px;
  position: relative;
  text-align: center;
  margin-top: 150px;
}
.Search_searchContainer__e3mXl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60px;
  margin: 0 auto;
}
@media screen and (max-width: 678px) {
  .Search_searchContainer__e3mXl {
    width: 90%;
  }
}
.Search_searchBtn__vwbLw {
  margin-left: 5px;
  width: auto;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  height: 100%;
  font-size: 20px;
  background-color: #101e29;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.Search_searchBtn__vwbLw:hover {
  cursor: pointer;
  background-color: #f1b721;
  color: #101e29;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.CollectionSwiper_sliderItem__cEF3F {
  width: 350px !important;
  padding: 0 5px;
}
.GenreSlider_mainContainer__nZhJO {
  margin-top: 24px;
}
.GenreSlider_sliderContainer__9bhub {
  margin-top: 10px;
}
