.ProfileTab_premiumContainer__trLPR {
  color: #f1b721 !important;
  padding: 2px 5px;
}
.CreateCollection_content__YmJN7 {
  overflow: hidden;
  overflow-y: hidden !important;
}
.FilmSlider_mainContainer__Rq8a8,
.FilmSlider_sliderContainer__QGTGv {
  margin-top: 10px;
}
.FilmSlider_title__A4xL6 {
  margin-top: 20px !important;
}
.SmallFilmPoster_movieSmallPoster__o0fiG {
  background-position: 50% 50%;
  width: 120px;
  display: inline !important;
  height: 180px;
  margin-top: auto;
  background-size: cover;
  box-shadow:
    1px 1px 3px 0 rgba(0, 0, 0, 0.4),
    inset 0 1px 0 0 hsla(0, 0%, 100%, 0.1);
  border-radius: 6px;
  margin-left: auto;
  border-radius: 5;
}
.SmallFilmPoster_movieSmallPoster__o0fiG:hover {
  filter: brightness(50%);
  scale: 1.02;
  cursor: pointer;
}
.MovieSearch_contentBlock__CpGs8 {
  height: 300px;
}
.MovieSearch_loadingBlock__BNU8i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.MovieSearch_input__A3oio {
  width: 100%;
}
.Similars_content__OfOIK {
  overflow: hidden;
  overflow-y: hidden !important;
}
.NavigatedSwiper_swiper__zFjqj:hover .NavigatedSwiper_arrow__U3WhB {
  display: flex;
}
.NavigatedSwiper_arrow__U3WhB {
  padding: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  margin-top: -5px;
  z-index: 100;
  align-items: center;
  display: none;
  color: #fff;
  background: hsla(0, 0%, 100%, 0.2);
  border: none;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  transition: -webkit-transform.2s;
  transition: transform.2s;
  transition:
    transform.2s,
    -webkit-transform.2s;
}
.NavigatedSwiper_arrow__U3WhB:before {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15)),
    linear-gradient(rgba(59, 58, 62, 0.48), rgba(59, 58, 62, 0.48));
  -webkit-background-image: linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15)),
    linear-gradient(rgba(59, 58, 62, 0.48), rgba(59, 58, 62, 0.48));
}
.NavigatedSwiper_arrow__U3WhB:hover {
  transform: scale(1.05);
  transform-origin: center;
  -webkit-transform: scale(1.1);
}
.NavigatedSwiper_nextArrow__4OnxL {
  right: 3px;
}
.NavigatedSwiper_prevArrow__o5c7P {
  left: 3px;
}
.CreateNews_content__uFlEx,
.EditCollection_content__cGX29,
.EditNews_content___aLgi {
  overflow: hidden;
  overflow-y: hidden !important;
}
.MovieActorSlider_mainContainer__DXYOY {
  margin-top: 24px;
}
.MovieActorSlider_sliderContainer__9WAql {
  margin-top: 10px;
}
.ActorAvatar_container__FfHXo {
  position: relative;
  width: max-content;
  display: block;
}
.ActorAvatar_image__WkzZm {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.ActorAvatar_empty__lMkZn {
  background-color: #1c455d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ActorAvatar_emptyText__JWms_ {
  padding: 0 !important;
}
.ActorAvatar_title__VvHV3 {
  font-size: 15px;
  max-width: max-content;
  color: #fff;
  padding-top: 10px;
  text-align: center;
  max-width: 120px;
}
.ActorAvatar_likeContainer__Tu_dW {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.MovieSlider_mainContainer__b3Mn0 {
  margin-top: 24px;
}
.MovieSlider_sliderContainer__ciXiE {
  margin-top: 10px;
}
